# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Assets/8-Bit_Action_Free.meta
Assets/8-Bit_Action_Free/Quiet2.wav
Assets/8-Bit_Action_Free/Quiet2.wav.meta
Assets/8-Bit_Action_Free/Readme.txt
Assets/8-Bit_Action_Free/Readme.txt.meta
Assets/8-Bit_Action_Free/Soft1.wav
Assets/8-Bit_Action_Free/Soft1.wav.meta
Assets/8-Bit_Action_Free/Stage1.wav
Assets/8-Bit_Action_Free/Stage1.wav.meta
Assets/8-Bit_Action_Free/Title.wav
Assets/8-Bit_Action_Free/Title.wav.meta
Assets/CasualGameSounds/DM-CGS-24.wav.meta
Assets/CasualGameSounds/DM-CGS-25.wav
Assets/CasualGameSounds/DM-CGS-25.wav.meta
Assets/CasualGameSounds/DM-CGS-26.wav
Assets/CasualGameSounds/DM-CGS-26.wav.meta
Assets/CasualGameSounds/DM-CGS-27.wav
Assets/CasualGameSounds/DM-CGS-27.wav.meta
Assets/CasualGameSounds/DM-CGS-28.wav
Assets/CasualGameSounds/DM-CGS-28.wav.meta
Assets/CasualGameSounds/DM-CGS-29.wav
Assets/CasualGameSounds/DM-CGS-29.wav.meta
Assets/CasualGameSounds/DM-CGS-30.wav
Assets/CasualGameSounds/DM-CGS-30.wav.meta
Assets/CasualGameSounds/DM-CGS-31.wav
Assets/CasualGameSounds/DM-CGS-31.wav.meta
Assets/CasualGameSounds/DM-CGS-32.wav
Assets/CasualGameSounds/DM-CGS-32.wav.meta
Assets/CasualGameSounds/DM-CGS-33.wav
Assets/CasualGameSounds/DM-CGS-33.wav.meta
Assets/CasualGameSounds/DM-CGS-34.wav
Assets/CasualGameSounds/DM-CGS-34.wav.meta
Assets/CasualGameSounds/DM-CGS-35.wav
Assets/CasualGameSounds/DM-CGS-35.wav.meta
Assets/CasualGameSounds/DM-CGS-36.wav
Assets/CasualGameSounds/DM-CGS-36.wav.meta
Assets/CasualGameSounds/DM-CGS-37.wav
Assets/CasualGameSounds/DM-CGS-38.wav
Assets/CasualGameSounds/DM-CGS-38.wav.meta
Assets/CasualGameSounds/DM-CGS-47.wav
Assets/CasualGameSounds/DM-CGS-47.wav.meta
Assets/CasualGameSounds/DM-CGS-48.wav
Assets/CasualGameSounds/DM-CGS-48.wav.meta
Assets/CasualGameSounds/DM-CGS-49.wav
Assets/CasualGameSounds/DM-CGS-49.wav.meta
Assets/CasualGameSounds/DM-CGS-50.wav
Assets/CasualGameSounds/DM-CGS-50.wav.meta
Assets/CasualGameSounds/DM-CGS-15.wav.meta
Assets/CasualGameSounds/DM-CGS-16.wav
Assets/CasualGameSounds/DM-CGS-16.wav.meta
Assets/CasualGameSounds/DM-CGS-17.wav
Assets/CasualGameSounds/DM-CGS-17.wav.meta
Assets/CasualGameSounds/DM-CGS-18.wav
Assets/CasualGameSounds/DM-CGS-18.wav.meta
Assets/CasualGameSounds/DM-CGS-19.wav
Assets/CasualGameSounds/DM-CGS-19.wav.meta
Assets/CasualGameSounds/DM-CGS-20.wav
Assets/CasualGameSounds/DM-CGS-20.wav.meta
Assets/CasualGameSounds/DM-CGS-21.wav
Assets/CasualGameSounds/DM-CGS-21.wav.meta
Assets/CasualGameSounds/DM-CGS-22.wav
Assets/CasualGameSounds/DM-CGS-22.wav.meta
Assets/CasualGameSounds/DM-CGS-23.wav
Assets/CasualGameSounds/DM-CGS-23.wav.meta
Assets/CasualGameSounds/DM-CGS-24.wav
Assets/CasualGameSounds/DM-CGS-37.wav.meta
Assets/CasualGameSounds/DM-CGS-39.wav
Assets/CasualGameSounds/DM-CGS-42.wav
Assets/CasualGameSounds/DM-CGS-43.wav
Assets/CasualGameSounds/DM-CGS-43.wav.meta
Assets/CasualGameSounds/DM-CGS-44.wav
Assets/CasualGameSounds/DM-CGS-44.wav.meta
Assets/CasualGameSounds/DM-CGS-45.wav
Assets/CasualGameSounds/DM-CGS-45.wav.meta
Assets/CasualGameSounds/DM-CGS-46.wav
Assets/CasualGameSounds/DM-CGS-46.wav.meta
Assets/CasualGameSounds/DM-CGS-06.wav
Assets/CasualGameSounds/DM-CGS-06.wav.meta
Assets/CasualGameSounds/DM-CGS-07.wav.meta
Assets/CasualGameSounds/DM-CGS-08.wav
Assets/CasualGameSounds/DM-CGS-08.wav.meta
Assets/CasualGameSounds/DM-CGS-09.wav
Assets/CasualGameSounds/DM-CGS-09.wav.meta
Assets/CasualGameSounds/DM-CGS-10.wav
Assets/CasualGameSounds/DM-CGS-10.wav.meta
Assets/CasualGameSounds/DM-CGS-11.wav
Assets/CasualGameSounds/DM-CGS-11.wav.meta
Assets/CasualGameSounds/DM-CGS-12.wav
Assets/CasualGameSounds/DM-CGS-12.wav.meta
Assets/CasualGameSounds/DM-CGS-13.wav
Assets/CasualGameSounds/DM-CGS-13.wav.meta
Assets/CasualGameSounds/DM-CGS-14.wav
Assets/CasualGameSounds/DM-CGS-14.wav.meta
Assets/CasualGameSounds/DM-CGS-15.wav
Assets/CasualGameSounds/DM-CGS-39.wav.meta
Assets/CasualGameSounds/DM-CGS-40.wav
Assets/CasualGameSounds/DM-CGS-40.wav.meta
Assets/CasualGameSounds/DM-CGS-42.wav.meta
Assets/CasualGameSounds/DM-CGS-01.wav
Assets/CasualGameSounds/DM-CGS-01.wav.meta
Assets/CasualGameSounds/DM-CGS-02.wav
Assets/CasualGameSounds/DM-CGS-02.wav.meta
Assets/CasualGameSounds/DM-CGS-03.wav
Assets/CasualGameSounds/DM-CGS-03.wav.meta
Assets/CasualGameSounds/DM-CGS-04.wav
Assets/CasualGameSounds/DM-CGS-04.wav.meta
Assets/CasualGameSounds/DM-CGS-05.wav
Assets/CasualGameSounds/DM-CGS-05.wav.meta
Assets/CasualGameSounds/DM-CGS-07.wav
Assets/CasualGameSounds/license.pdf.meta
